In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl
import xlrd
import datetime
import os

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df = pd.read_csv('/content/drive/My Drive/courses/data analytics/datasets/fully_processed_data.csv',usecols=range(2,11),parse_dates=['InvoiceDate_1'])

In [20]:
df

               Country  CustomerID  ...       InvoiceDate_1  Total_amount
0       United Kingdom     17850.0  ... 2010-12-01 08:26:00         15.30
1       United Kingdom     17850.0  ... 2010-12-01 08:26:00         20.34
2       United Kingdom     17850.0  ... 2010-12-01 08:26:00         22.00
3       United Kingdom     17850.0  ... 2010-12-01 08:26:00         20.34
4       United Kingdom     17850.0  ... 2010-12-01 08:26:00         20.34
...                ...         ...  ...                 ...           ...
397879          France     12680.0  ... 2011-12-09 12:50:00         10.20
397880          France     12680.0  ... 2011-12-09 12:50:00         12.60
397881          France     12680.0  ... 2011-12-09 12:50:00         16.60
397882          France     12680.0  ... 2011-12-09 12:50:00         16.60
397883          France     12680.0  ... 2011-12-09 12:50:00         14.85

[397884 rows x 9 columns]

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 397884 entries, 0 to 397883
Data columns (total 9 columns):
Country          397884 non-null object
CustomerID       397884 non-null float64
Description      397884 non-null object
InvoiceNo        397884 non-null float64
Quantity         397884 non-null float64
StockCode        397884 non-null object
UnitPrice        397884 non-null float64
InvoiceDate_1    397884 non-null datetime64[ns]
Total_amount     397884 non-null float64
dtypes: datetime64[ns](1), float64(5), object(3)
memory usage: 27.3+ MB

In [22]:
df.Description.value_counts()

WHITE HANGING HEART T-LIGHT HOLDER    2028
REGENCY CAKESTAND 3 TIER              1723
JUMBO BAG RED RETROSPOT               1618
ASSORTED COLOUR BIRD ORNAMENT         1408
PARTY BUNTING                         1396
                                      ...
KNITTED RABBIT DOLL                      1
CAKESTAND, 3 TIER, LOVEHEART             1
CRACKED GLAZE EARRINGS RED               1
RUBY GLASS CLUSTER EARRINGS              1
PINK/WHITE GLASS DEMI CHOKER             1
Name: Description, Length: 3877, dtype: int64

In [25]:
df.InvoiceNo.value_counts()

576339.0    542
579196.0    533
580727.0    529
578270.0    442
573576.0    435
           ...
570181.0      1
570144.0      1
570130.0      1
541243.0      1
549585.0      1
Name: InvoiceNo, Length: 18532, dtype: int64

In [27]:
df[['InvoiceNo','CustomerID']].groupby('InvoiceNo').count()

           CustomerID
InvoiceNo
536365.0            7
536366.0            2
536367.0           12
536368.0            4
536369.0            1
...               ...
581583.0            2
581584.0            2
581585.0           21
581586.0            4
581587.0           15

[18532 rows x 1 columns]